<tr>
  <% Hospital::HEADERS.each do |column| %>
    <%= if column == "img" %>
      <td><%= image_tag hospital.img.thumb, hospital.img.url %></td>
    <% else %>
      <td><%= hospital.send(column) %></td>
    <% end %>
  <% end %>
  <td><%= link_to t(:edit), edit_hospital_path(hospital) %></td>
  <td><%= link_to t(:publish), publish_hospital_path(hospital) %></td>
  <td><%= link_to t(:destroy), hospital, method: :delete, data: {confirm: t(:are_you_sure)} %></td>
</tr>