<div class="col-md-10">
  <h3><%= t(:doctor_list) %></h3>
</div>
<div class="col-md-2">
  <%= link_to t(:new_doctor), new_doctor_path, class: "btn btn-danger" %>
</div>
<div class="col-md-12">
  <%= render 'search' %>
</div>
<div class="col-md-12">
  <hr />
  <table class="table">
    <thead>
      <tr>
        <% Doctor::HEADERS.each do |column| %>
          <th><%= Doctor.human_attribute_name(column) %></th>
        <% end %>
        <th colspan="2"><%= t(:operations) %></th>
      </tr>
    </thead>
    <tbody>
      <%= render @doctors %>
    </tbody>
  </table>
</div>