<tr>
  <% Advice::HEADERS.each do |column| %>
    <% if column == 'img' %>
      <td><%= link_to image_tag(advice.img.thumb), advice.img.url if advice.img.url %></td>
    <% else %>
      <td><%= advice.send(column) %></td>
    <% end %>
  <% end %>
  <td><%= link_to t(:edit), edit_advice_path(advice) %></td>
  <td><%= link_to t(:publish), publish_advice_path(advice) %></td>
  <td><%= link_to t(:cancel), cancel_advice_path(advice) %></td>
  <td><%= link_to t(:destroy), advice, method: :delete, data: {confirm: t(:are_you_sure)} %></td>
</tr>