<%= search_form_for(@q, html: { class: 'form-horizontal' }, 
    wrapper: :horizontal_form,
    wrapper_mappings: {
    check_boxes: :horizontal_radio_and_checkboxes,
    radio_buttons: :horizontal_radio_and_checkboxes,
    file: :horizontal_file_input,
    boolean: :horizontal_boolean}) do |f| %>
  <div class="col-md-3">
    <%= f.input :title_cont, required: false, label: Advice.human_attribute_name('title') %>
  </div>
  <div class="col-md-3">
    <%= f.input :advice_type_eq, required: false, collection: Advice::ADVICE_TYPES, label: Advice.human_attribute_name('advice_type') %>
  </div>
  <div class="col-md-3">
    <%= f.input :state_eq, required: false, collection: Advice::STATES, label: Advice.human_attribute_name('state') %>
  </div>
  <div class="col-md-3">
    <%= f.button :submit, t(:search) %>
  </div>
<% end %>