<nav class="navbar navbar-default">
  <div class="container-fluid">
    <!-- Brand and toggle get grouped for better mobile display -->
    <div class="navbar-header">
      <button type="button" class="navbar-toggle collapsed" data-toggle="collapse" data-target="#bs-example-navbar-collapse-1" aria-expanded="false">
        <span class="sr-only">Toggle navigation</span>
        <span class="icon-bar"></span>
        <span class="icon-bar"></span>
        <span class="icon-bar"></span>
      </button>
      <%= link_to t('5mile_bridge'), root_path, class: "navbar-brand" %>
    </div>

    <!-- Collect the nav links, forms, and other content for toggling -->
    <div class="collapse navbar-collapse" id="bs-example-navbar-collapse-1">
      <ul class="nav navbar-nav">
        <li class="<%= 'active' if params[:controller] == 'hospitals' %>"><%= link_to Hospital.model_name.human, hospitals_path %></li>
        <li class="<%= 'active' if params[:controller] == 'news' %>"><%= link_to News.model_name.human, news_index_path %></li>
        <li class="<%= 'active' if params[:controller] == 'advices' %>"><%= link_to Advice.model_name.human, advices_path %></li>
        <li class="<%= 'active' if params[:controller] == 'doctors' %>"><%= link_to Doctor.model_name.human, doctors_path %></li>
        <li class="<%= 'active' if params[:controller] == 'users' %>"><%= link_to User.model_name.human, users_path %></li>
        <li class="<%= 'active' if params[:controller] == 'consults' %>"><%= link_to Consult.model_name.human, consults_path %></li>
        <li class="<%= 'active' if params[:controller] == 'appointments' %>"><%= link_to Appointment.model_name.human, appointments_path %></li>
        <li class="<%= 'active' if params[:controller] == 'exams' %>"><%= link_to Exam.model_name.human, exams_path %></li>
        <li class="<%= 'active' if params[:controller] == 'shifts' %>"><%= link_to Shift.model_name.human, shifts_path %></li>
      </ul>
      <ul class="nav navbar-nav navbar-right">
      </ul>
    </div><!-- /.navbar-collapse -->
  </div><!-- /.container-fluid -->
</nav>